<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bitcoin</title>
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <div id="app">
    <img :src="img" :alt="name">
    <h1 :class="changePercent > 0 ? 'green' : 'red'">
      {{ name }}
      <span v-if="changePercent > 0">👍</span>
      <span v-if="changePercent < 0">👐</span>
      <span v-else>👎</span>

      <!-- <span v-show="changePercent > 0">👍</span>
      <span v-show="changePercent < 0">👐</span>
      <span v-show="changePercent === 0">👎</span>
      -->
      <!-- 
      <ul>
        <li v-for="(list, i) in prices" :key="list"> {{i}} - {{list}}</li>
      </ul> -->
      <br>
      <img :src="priceFile" v-on:mouseover="toggleShowPrices" v-on:mouseout="toggleShowPrices" :alt="name">

      <br>
      <span v-on:click="toggleShowPrices">Ver precios</span>
      <ul class="uppercase" v-show=showPrices>
        <li v-bind:class="{orange:day.value==price, red:day.value<price, green:day.value>price}"
        v-for="(day, i) in pricesWithDays" :key="day"> {{i}} en el día {{day.day}} su valor fue de {{day.value}}
        </li>
      </ul>
    </h1>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>